@use "../../styles/common/common" as *;
@use "../../styles/common/variables" as *;

.navbar {
  @include flex_center;
  width: 100%;
  height: 100px;
  background: #eee;

  .container {
    @include container;
    @include flex_center;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: $xxl) {
      padding: 0 2rem;
    }

    .header {
      font-size: 2rem;
      color: black;
    }

    .cart {
      font-size: 2rem;
      color: black;
    }
  }
}
