@use "../../../styles/common/common" as *;

.card {
  margin: 2rem 0;
  width: 100%;
  font-size: 1rem;
  // padding: 0 32px;
  transition: 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .meta {
    @include flex_center(column);
  }
}
